In [ ]:
import pandas as pd

df = pd.read_excel("/content/BROWNWALL TEST FILE.xlsx")
df.head()

,Inquiry No,Timestamp,Company,Contact Name,Category,Details,Lead Source,Sales Stage,Update Remarks,Next Steps,...,Budget,Quantity,Est Order Value,Sales Person Name,OCCASSION,LOCATION,Inquiry Type,2nd Owner,Back Office,1st Owner
0,102,2024-04-20 00:00:00,aleMbIc,AstHa MaDam dIv-peT,PHARMA ‎,NaN,NaN,Dead,NaN,Arrange Sample,...,300.0,3000,90 0000,SOHAAM,WOMEN'S DAY,NaN,NBD,NaN,GAYATRI,SEWANATH
1,104,2025-12-11 15:37:51,FORtuNe seLECT eXOtIca,devpRAsaD das,PHARMA ‎,indent raise,Calling,Order Lost,indent raise,Aiming to Closure,...,100.0,5000,500 0 0 0,SOHAAM,NOT MENTIONED,BANDRA,NBD,MEENAZ,SHAAD,SHAAD
2,105,2024-03-19 00:00:00,zIFaRm PInNAcLe,abDUL BaSIt,PHARMA ‎,NaN,Calling,Discovery,na,Arrange Meeting,...,1000.0,10000,10 0​00000,SOHAAM,HOLI,ANDHERI,NBD,NaN,SAARA,ZAHIN
3,107,2024-03-20 00:00:00,ziFARM PInnAcle,ABdUl basit,PHARMA ‎,NaN,Calling,Shared Quotation,NaN,NaN,...,120.0,1000,120000,SOHAAM,LAUNCH,ANDHERI,NBD,SEWANATH,GAYATRI,ZAHIN
4,121,2025-07-05 11:50:22,EMcurE PhArMA,aditYA tHAKuR,PHARMA ‎,Will let you know,ONE 2 ONE,Dead,NOT Approved,Arrange Meeting,...,250.0,1000,NaN,SOHAAM,BRAND LAUNCH / EVENT LAUNCH,AHMEDABAD,NBD,SHAAD,MANAGEMENT,ANURAG

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Inquiry No          299 non-null    int64
 1   Timestamp           299 non-null    datetime64[ns]
 2   Company             299 non-null    object
 3   Contact Name        297 non-null    object
 4   Category            298 non-null    object
 5   Details             177 non-null    object
 6   Lead Source         240 non-null    object
 7   Sales Stage         299 non-null    object
 8   Update Remarks      234 non-null    object
 9   Next Steps          223 non-null    object
 10  Next Followup Date  210 non-null    datetime64[ns]
 11  Budget              252 non-null    float64
 12  Quantity            186 non-null    object
 13  Est Order Value     267 non-null    object
 14  Sales Person Name   299 non-null    object
 15  OCCASSION           296 non-null    object
 16  LOCATION            275 non-null    object
 17  Inquiry Type        299 non-null    object
 18  2nd Owner           180 non-null    object
 19  Back Office         176 non-null    object
 20  1st Owner           298 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(1), object(17)
memory usage: 49.2+ KB

In [ ]:
for col in df.columns:
    print(col)

Inquiry No
Timestamp
Company
Contact Name
Category
Details
Lead Source
Sales Stage
Update Remarks
Next Steps
Next Followup Date
Budget
Quantity
Est Order Value
Sales Person Name
OCCASSION
LOCATION
Inquiry Type
2nd Owner
Back Office
1st Owner

In [ ]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
)

print(df.columns)

Index(['inquiry_no', 'timestamp', 'company', 'contact_name', 'category',
       'details', 'lead_source', 'sales_stage', 'update_remarks', 'next_steps',
       'next_followup_date', 'budget', 'quantity', 'est_order_value',
       'sales_person_name', 'occassion', 'location', 'inquiry_type',
       '2nd_owner', 'back_office', '1st_owner'],
      dtype='object')

In [ ]:
df = df.rename(columns={
    'company': 'client_name',
    'sales_person_name': 'salesperson',
    'est_order_value': 'expected_revenue',
    'timestamp': 'date'
})

print(df.columns)

Index(['inquiry_no', 'date', 'client_name', 'contact_name', 'category',
       'details', 'lead_source', 'sales_stage', 'update_remarks', 'next_steps',
       'next_followup_date', 'budget', 'quantity', 'expected_revenue',
       'salesperson', 'occassion', 'location', 'inquiry_type', '2nd_owner',
       'back_office', '1st_owner'],
      dtype='object')

In [ ]:
df['client_name'] = df['client_name'].astype(str).str.strip().str.upper()
df['salesperson'] = df['salesperson'].astype(str).str.strip().str.title()

In [ ]:
df['expected_revenue'] = pd.to_numeric(df['expected_revenue'], errors='coerce').fillna(0)
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [ ]:
df = df.dropna(subset=['client_name', 'salesperson'])
df = df.drop_duplicates()

In [ ]:
df['is_sun_pharma'] = df['client_name'].str.contains('SUN PHARMA', na=False)

In [ ]:
df.to_excel("Cleaned_Brownwall_Data.xlsx", index=False)

In [ ]:
df.to_csv("Cleaned_Brownwall_Data.csv", index=False)